<?xml version="1.0"?>
<config>
    <sections>
        <sales>
            <groups>
                <qr_bill translate="label">
                    <label>QR Bill</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>500</sort_order>
                    <fields>
                        <is_legacy_iban translate="label">
                            <label>Is Legacy IBAN?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_legacy_iban>
                        <iban translate="label">
                            <label>IBAN</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </iban>
                        <creditor_name translate="label">
                            <label>Creditor Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </creditor_name>
                        <creditor_address_line_1 translate="label">
                            <label>Creditor Address Line 1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </creditor_address_line_1>
                        <creditor_address_line_2 translate="label">
                            <label>Creditor Address Line 1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </creditor_address_line_2>
                    </fields>
                </qr_bill>
            </groups>
        </sales>
    </sections>
</config>
